	<head>
		<title>{{ page.title }} | {{ site.name }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width"/>
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/materialize/materialize.css"/>
		<script src="{{ site.baseurl }}/assets/materialize/materialize.js"></script>
		<style>
		html {
			font-family:'Montserrat', sans-serif;
		}
		</style>
		<script language="JavaScript">
		var TRange=null

		function busca (str) {
			if (parseInt(navigator.appVersion)<4) return;
			var strFound;
			if (window.find) {

				strFound=self.find(str);
				if (!strFound) {
					strFound=self.find(str,0,1)
					while (self.find(str,0,1)) continue
				}
			}
			else if (navigator.appName.indexOf("Microsoft")!=-1) {

				if (TRange!=null) {
					TRange.collapse(false)
					strFound=TRange.findText(str)
					if (strFound) TRange.select()
				}
				if (TRange==null || strFound==0) {
					TRange=self.document.body.createTextRange()
					strFound=TRange.findText(str)
					if (strFound) TRange.select()
				}
			}
			else if (navigator.appName=="Opera") {
				alert ("Opera no soporta busqueda")
				return;
			}
			if (!strFound) alert ("Cadena '"+str+"' no fue encontrada")
			return;
			}
		}
		</script>
	</head>