	<head>
		<title>{{ page.title }} | {{ site.name }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, width=device-width"/>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/materialize/materialize.css"/>
		<script src="{{ site.baseurl }}/assets/materialize/materialize.js"></script>
		<style>
		html {
			font-family:'Monserrat', sans-serif;
		}
		</style>
	</head>