<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
{{ content }}
<div class="video-container">
	<iframe src="{{ page.linkt01c01 }}" frameborder="0" name="player"></iframe>
</div>
<div class="row container">
	<div class="col s12">
		<ul class="tabs">
			<li style="{{ page.stylet01 }}" class="tab col s6 m4 l3"><a class="active" href="#t01">Temporada 01</a></li>
			<li style="{{ page.stylet02 }}" class="tab col s6 m4 l3"><a href="#t02">Temporada 02</a></li>
			<li style="{{ page.stylet03 }}" class="tab col s6 m4 l3"><a href="#t03">Temporada 03</a></li>
			<li style="{{ page.stylet04 }}" class="tab col s6 m4 l3"><a href="#t04">Temporada 04</a></li>
			<li style="{{ page.stylet05 }}" class="tab col s6 m4 l3"><a href="#t05">Temporada 05</a></li>
			<li style="{{ page.stylet06 }}" class="tab col s6 m4 l3"><a href="#t06">Temporada 06</a></li>
			<li style="{{ page.stylet07 }}" class="tab col s6 m4 l3"><a href="#t07">Temporada 07</a></li>
			<li style="{{ page.stylet08 }}" class="tab col s6 m4 l3"><a href="#t08">Temporada 08</a></li>
			<li style="{{ page.stylet09 }}" class="tab col s6 m4 l3"><a href="#t09">Temporada 09</a></li>
			<li style="{{ page.stylet10 }}" class="tab col s6 m4 l3"><a href="#t10">Temporada 10</a></li>
			<li style="{{ page.stylet11 }}" class="tab col s6 m4 l3"><a href="#t11">Temporada 11</a></li>
			<li style="{{ page.stylet12 }}" class="tab col s6 m4 l3"><a href="#t12">Temporada 12</a></li>
			<li style="{{ page.stylet13 }}" class="tab col s6 m4 l3"><a href="#t13">Temporada 13</a></li>
			<li style="{{ page.stylet14 }}" class="tab col s6 m4 l3"><a href="#t14">Temporada 14</a></li>
			<li style="{{ page.stylet15 }}" class="tab col s6 m4 l3"><a href="#t15">Temporada 15</a></li>
			<li style="{{ page.stylet16 }}" class="tab col s6 m4 l3"><a href="#t16">Temporada 16</a></li>
			<li style="{{ page.stylet17 }}" class="tab col s6 m4 l3"><a href="#t17">Temporada 17</a></li>
			<li style="{{ page.stylet18 }}" class="tab col s6 m4 l3"><a href="#t18">Temporada 18</a></li>
			<li style="{{ page.stylet19 }}" class="tab col s6 m4 l3"><a href="#t19">Temporada 19</a></li>
			<li style="{{ page.stylet20 }}" class="tab col s6 m4 l3"><a href="#t20">Temporada 20</a></li>
			<li style="{{ page.stylet21 }}" class="tab col s6 m4 l3"><a href="#t21">Temporada 21</a></li>
			<li style="{{ page.stylet22 }}" class="tab col s6 m4 l3"><a href="#t22">Temporada 22</a></li>
			<li style="{{ page.stylet23 }}" class="tab col s6 m4 l3"><a href="#t23">Temporada 23</a></li>
			<li style="{{ page.stylet24 }}" class="tab col s6 m4 l3"><a href="#t24">Temporada 24</a></li>
			<li style="{{ page.stylet25 }}" class="tab col s6 m4 l3"><a href="#t25">Temporada 25</a></li>
			<li style="{{ page.stylet26 }}" class="tab col s6 m4 l3"><a href="#t26">Temporada 26</a></li>
			<li style="{{ page.stylet27 }}" class="tab col s6 m4 l3"><a href="#t27">Temporada 27</a></li>
			<li style="{{ page.stylet28 }}" class="tab col s6 m4 l3"><a href="#t28">Temporada 28</a></li>
			<li style="{{ page.stylet29 }}" class="tab col s6 m4 l3"><a href="#t29">Temporada 29</a></li>
			<li style="{{ page.stylet30 }}" class="tab col s6 m4 l3"><a href="#t30">Temporada 30</a></li>
			<li style="{{ page.stylet31 }}" class="tab col s6 m4 l3"><a href="#t31">Temporada 31</a></li>
			<li style="{{ page.stylet32 }}" class="tab col s6 m4 l3"><a href="#t32">Temporada 32</a></li>
			<li style="{{ page.stylet33 }}" class="tab col s6 m4 l3"><a href="#t33">Temporada 33</a></li>
			<li style="{{ page.stylet34 }}" class="tab col s6 m4 l3"><a href="#t34">Temporada 34</a></li>
			<li style="{{ page.stylet35 }}" class="tab col s6 m4 l3"><a href="#t35">Temporada 35</a></li>
			<li style="{{ page.stylet36 }}" class="tab col s6 m4 l3"><a href="#t36">Temporada 36</a></li>
			<li style="{{ page.stylet37 }}" class="tab col s6 m4 l3"><a href="#t37">Temporada 37</a></li>
			<li style="{{ page.stylet38 }}" class="tab col s6 m4 l3"><a href="#t38">Temporada 38</a></li>
			<li style="{{ page.stylet39 }}" class="tab col s6 m4 l3"><a href="#t39">Temporada 39</a></li>
			<li style="{{ page.stylet40 }}" class="tab col s6 m4 l3"><a href="#t40">Temporada 40</a></li>
			<li style="{{ page.stylet41 }}" class="tab col s6 m4 l3"><a href="#t41">Temporada 41</a></li>
			<li style="{{ page.stylet42 }}" class="tab col s6 m4 l3"><a href="#t42">Temporada 42</a></li>
			<li style="{{ page.stylet43 }}" class="tab col s6 m4 l3"><a href="#t43">Temporada 43</a></li>
			<li style="{{ page.stylet44 }}" class="tab col s6 m4 l3"><a href="#t44">Temporada 44</a></li>
			<li style="{{ page.stylet45 }}" class="tab col s6 m4 l3"><a href="#t45">Temporada 45</a></li>
			<li style="{{ page.stylet46 }}" class="tab col s6 m4 l3"><a href="#t46">Temporada 46</a></li>
			<li style="{{ page.stylet47 }}" class="tab col s6 m4 l3"><a href="#t47">Temporada 47</a></li>
			<li style="{{ page.stylet48 }}" class="tab col s6 m4 l3"><a href="#t48">Temporada 48</a></li>
			<li style="{{ page.stylet49 }}" class="tab col s6 m4 l3"><a href="#t49">Temporada 49</a></li>
			<li style="{{ page.stylet50 }}" class="tab col s6 m4 l3"><a href="#t50">Temporada 50</a></li>
		</ul>
	</div>
	<div style="{{ page.stylet01 }}" id="t01" class="col s12">
		<center><h4>Temporada 1</h4></center>
		<ul>
			<li style="{{ page.stylet01c01 }}><a target="player" href="{{ page.linkt01c01 }}">Capítulo 01 - {{ page.titlet01c01 }}</a></li>
			<li style="{{ page.stylet01c02 }}><a target="player" href="{{ page.linkt01c02 }}">Capítulo 02 - {{ page.titlet01c02 }}</a></li>
			<li style="{{ page.stylet01c03 }}><a target="player" href="{{ page.linkt01c03 }}">Capítulo 03 - {{ page.titlet01c03 }}</a></li>
			<li style="{{ page.stylet01c04 }}><a target="player" href="{{ page.linkt01c04 }}">Capítulo 04 - {{ page.titlet01c04 }}</a></li>
			<li style="{{ page.stylet01c05 }}><a target="player" href="{{ page.linkt01c05 }}">Capítulo 05 - {{ page.titlet01c05 }}</a></li>
			<li style="{{ page.stylet01c06 }}><a target="player" href="{{ page.linkt01c06 }}">Capítulo 06 - {{ page.titlet01c06 }}</a></li>
			<li style="{{ page.stylet01c07 }}><a target="player" href="{{ page.linkt01c07 }}">Capítulo 07 - {{ page.titlet01c07 }}</a></li>
			<li style="{{ page.stylet01c08 }}><a target="player" href="{{ page.linkt01c08 }}">Capítulo 08 - {{ page.titlet01c08 }}</a></li>
			<li style="{{ page.stylet01c09 }}><a target="player" href="{{ page.linkt01c09 }}">Capítulo 09 - {{ page.titlet01c09 }}</a></li>
			<li style="{{ page.stylet01c10 }}><a target="player" href="{{ page.linkt01c10 }}">Capítulo 10 - {{ page.titlet01c10 }}</a></li>
			<li style="{{ page.stylet01c11 }}><a target="player" href="{{ page.linkt01c11 }}">Capítulo 11 - {{ page.titlet01c11 }}</a></li>
			<li style="{{ page.stylet01c12 }}><a target="player" href="{{ page.linkt01c12 }}">Capítulo 12 - {{ page.titlet01c12 }}</a></li>
			<li style="{{ page.stylet01c13 }}><a target="player" href="{{ page.linkt01c13 }}">Capítulo 13 - {{ page.titlet01c13 }}</a></li>
			<li style="{{ page.stylet01c14 }}><a target="player" href="{{ page.linkt01c14 }}">Capítulo 14 - {{ page.titlet01c14 }}</a></li>
			<li style="{{ page.stylet01c15 }}><a target="player" href="{{ page.linkt01c15 }}">Capítulo 15 - {{ page.titlet01c15 }}</a></li>
			<li style="{{ page.stylet01c16 }}><a target="player" href="{{ page.linkt01c16 }}">Capítulo 16 - {{ page.titlet01c16 }}</a></li>
			<li style="{{ page.stylet01c17 }}><a target="player" href="{{ page.linkt01c17 }}">Capítulo 17 - {{ page.titlet01c17 }}</a></li>
			<li style="{{ page.stylet01c18 }}><a target="player" href="{{ page.linkt01c18 }}">Capítulo 18 - {{ page.titlet01c18 }}</a></li>
			<li style="{{ page.stylet01c19 }}><a target="player" href="{{ page.linkt01c19 }}">Capítulo 19 - {{ page.titlet01c19 }}</a></li>
			<li style="{{ page.stylet01c20 }}><a target="player" href="{{ page.linkt01c20 }}">Capítulo 20 - {{ page.titlet01c20 }}</a></li>
			<li style="{{ page.stylet01c21 }}><a target="player" href="{{ page.linkt01c21 }}">Capítulo 21 - {{ page.titlet01c21 }}</a></li>
			<li style="{{ page.stylet01c22 }}><a target="player" href="{{ page.linkt01c22 }}">Capítulo 22 - {{ page.titlet01c22 }}</a></li>
			<li style="{{ page.stylet01c23 }}><a target="player" href="{{ page.linkt01c23 }}">Capítulo 23 - {{ page.titlet01c23 }}</a></li>
			<li style="{{ page.stylet01c24 }}><a target="player" href="{{ page.linkt01c24 }}">Capítulo 24 - {{ page.titlet01c24 }}</a></li>
			<li style="{{ page.stylet01c25 }}><a target="player" href="{{ page.linkt01c25 }}">Capítulo 25 - {{ page.titlet01c25 }}</a></li>
			<li style="{{ page.stylet01c26 }}><a target="player" href="{{ page.linkt01c26 }}">Capítulo 26 - {{ page.titlet01c26 }}</a></li>
			<li style="{{ page.stylet01c27 }}><a target="player" href="{{ page.linkt01c27 }}">Capítulo 27 - {{ page.titlet01c27 }}</a></li>
			<li style="{{ page.stylet01c28 }}><a target="player" href="{{ page.linkt01c28 }}">Capítulo 28 - {{ page.titlet01c28 }}</a></li>
			<li style="{{ page.stylet01c29 }}><a target="player" href="{{ page.linkt01c29 }}">Capítulo 29 - {{ page.titlet01c29 }}</a></li>
			<li style="{{ page.stylet01c30 }}><a target="player" href="{{ page.linkt01c30 }}">Capítulo 30 - {{ page.titlet01c30 }}</a></li>
			<li style="{{ page.stylet01c31 }}><a target="player" href="{{ page.linkt01c31 }}">Capítulo 31 - {{ page.titlet01c31 }}</a></li>
			<li style="{{ page.stylet01c32 }}><a target="player" href="{{ page.linkt01c32 }}">Capítulo 32 - {{ page.titlet01c32 }}</a></li>
			<li style="{{ page.stylet01c33 }}><a target="player" href="{{ page.linkt01c33 }}">Capítulo 33 - {{ page.titlet01c33 }}</a></li>
			<li style="{{ page.stylet01c34 }}><a target="player" href="{{ page.linkt01c34 }}">Capítulo 34 - {{ page.titlet01c34 }}</a></li>
			<li style="{{ page.stylet01c35 }}><a target="player" href="{{ page.linkt01c35 }}">Capítulo 35 - {{ page.titlet01c35 }}</a></li>
			<li style="{{ page.stylet01c36 }}><a target="player" href="{{ page.linkt01c36 }}">Capítulo 36 - {{ page.titlet01c36 }}</a></li>
			<li style="{{ page.stylet01c37 }}><a target="player" href="{{ page.linkt01c37 }}">Capítulo 37 - {{ page.titlet01c37 }}</a></li>
			<li style="{{ page.stylet01c38 }}><a target="player" href="{{ page.linkt01c38 }}">Capítulo 38 - {{ page.titlet01c38 }}</a></li>
			<li style="{{ page.stylet01c39 }}><a target="player" href="{{ page.linkt01c39 }}">Capítulo 39 - {{ page.titlet01c39 }}</a></li>
			<li style="{{ page.stylet01c40 }}><a target="player" href="{{ page.linkt01c40 }}">Capítulo 40 - {{ page.titlet01c40 }}</a></li>
			<li style="{{ page.stylet01c41 }}><a target="player" href="{{ page.linkt01c41 }}">Capítulo 41 - {{ page.titlet01c41 }}</a></li>
			<li style="{{ page.stylet01c42 }}><a target="player" href="{{ page.linkt01c42 }}">Capítulo 42 - {{ page.titlet01c42 }}</a></li>
			<li style="{{ page.stylet01c43 }}><a target="player" href="{{ page.linkt01c43 }}">Capítulo 43 - {{ page.titlet01c43 }}</a></li>
			<li style="{{ page.stylet01c44 }}><a target="player" href="{{ page.linkt01c44 }}">Capítulo 44 - {{ page.titlet01c44 }}</a></li>
			<li style="{{ page.stylet01c45 }}><a target="player" href="{{ page.linkt01c45 }}">Capítulo 45 - {{ page.titlet01c45 }}</a></li>
			<li style="{{ page.stylet01c46 }}><a target="player" href="{{ page.linkt01c46 }}">Capítulo 46 - {{ page.titlet01c46 }}</a></li>
			<li style="{{ page.stylet01c47 }}><a target="player" href="{{ page.linkt01c47 }}">Capítulo 47 - {{ page.titlet01c47 }}</a></li>
			<li style="{{ page.stylet01c48 }}><a target="player" href="{{ page.linkt01c48 }}">Capítulo 48 - {{ page.titlet01c48 }}</a></li>
			<li style="{{ page.stylet01c49 }}><a target="player" href="{{ page.linkt01c49 }}">Capítulo 49 - {{ page.titlet01c49 }}</a></li>
			<li style="{{ page.stylet01c50 }}><a target="player" href="{{ page.linkt01c50 }}">Capítulo 50 - {{ page.titlet01c50 }}</a></li>
		</ul>
	</div>
</div>
</body>
</html>